<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<!-- external css linking back to html page -->
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<section>
	<header>
		<div>
			<img src="../../../images/friendship-logo.png" alt="Logo">
		</div>
		<nav>
			<ul>
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Gallery</a>
				</li>
				<li>
					<a href="#">Events</a>
				</li>
				<!-- <li>
					<a href="#">Members</a>
				</li> -->
				<li>
					<a href="#">Contact</a>
				</li>
			</ul>
		</nav>
	</header>
	<section class="slider">
		<img src="../../../images/quote-1.jpg" alt="Quote 1">
	</section>
	<section>
		<div>LS</div>
		<div>MS</div>
		<div>RS</div>
	</section>
	<footer>
		<p>all rights Reserved &copy; 2018</p>
	</footer>
</section>
</body>
</html>